@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
body {
background: silver;
margin: 0;
font-family: 'Open Sans', sans-serif;
}
hr {
border: 0;
background: #dedede;
height: 1px;
}
header {
float: left;
width: 100%;
background: rgb(0, 0, 0);
border-bottom: 1px solid #ffffff;
border-top: 3px solid #ffffff;
border-left: 3px solid #ffffff;
border-right: 3px solid #ffffff;
}
header .judul {
font-size: 18pt;
padding: 25px;
color: #fff;
}
header .logo {
float: left;
padding: 10px;
}
header .deskripsi {
font-size: 11pt;
}
.wrap {
width: 950px;
margin: auto;
}
nav.menu ul {
overflow: hidden;
color: #fff;
list-style: none;
float: left;
padding: 0;
width: 100%;
margin: 0 0 0;
background: #000000;
-webkit-box-shadow: 1px 1px 1px 0px rgb(255, 255, 255);
-moz-box-shadow: 1px 1px 1px 0px rgb(255, 255, 255);
box-shadow: 1px 1px 1px 0px rgb(255, 255, 255);
border-bottom: 3px solid #ffffff;
border-top: 2px solid #ffffff;
border-left: 3px solid #ffffff;
border-right: 3px solid #ffffff;
}
nav.menu ul li {
margin: 0;
float: left;
}
nav.menu ul a {
padding: 25px;
display: block;
font-weight: 600;
font-size: 16px;
color: #fff;
text-transform: uppercase;
transition: all 0.5s ease;
text-decoration: none;
}
nav.menu ul a:hover {
text-decoration: underline;
background: #16a085;
}
.sidebar {
margin-top: 25px;
float: right;
width: 275px;
}
.sidebar .widget {
padding: 25px;
margin: 0 0 25px;
background: #fff;
border-bottom: 2px solid  #000000;
border-top: 2px solid #000000;
border-left: 2px solid #000000;
border-right: 2px solid #000000;
transition: all 0.5s ease;
}
.sidebar .widget:hover {
border-bottom: 2px solid #c40000;
border-top: 2px solid #c40000;
border-left: 2px solid #c40000;
border-right: 2px solid #c40000;
}
.sidebar .widget h2 {
padding: 0;
margin: 0 0 15px;
color: #222222;
font-size: 18px;
font-weight: 800;
text-transform: uppercase;
}
.sidebar .widget p {
font-size: 14px;
}
.sidebar .widget p:last-child {
margin: 0;
}
.menusidebar {
list-style: none;
padding: 0px;
}
.menusidebar li {
border-bottom: #666 1px solid;
padding: 5px;
}
.menusidebar li a {
display: block;
text-decoration: none;
}
.menusidebar li a:hover {
color: #1abf9f;
}
.blog {
float: left;
}
.conteudo {
width: 600px;
padding: 0 25px 25px 25px;
margin: 25px auto;
background: #fff;
border: 1px solid #000000;
-webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
-moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
}
.conteudo img {
width: 650px;
margin-left: -25px;
}
.conteudo h1 {
padding: 0;
margin: 0 0 15px;
font-weight: normal;
color: rgb(0, 0, 0);
font-family: Georgia;
}
.conteudo p:last-child {
margin: 0;
}
.tengah{
    align-self: center;
    align-content: center;
    align-items: center;
}  
.conteudo .continue-lendo {
color: #000;
transition: all 0.5s ease;
text-decoration: none;
font-weight: 700;
}
.conteudo .continue-lendo:hover {
margin-left: 10px;
}

.footer {
padding: 15px 0 15px 0;
float: left;
width: 100%;
background-color: #232323;
text-align: center;

}
.footer a {
color: whitesmoke;
}
@media screen and (max-width: 960px) {
.header {
position: inherit;
}
.wrap {
width: 90%;
margin: 25px auto;
}
.sidebar {
width: 100%;
margin: 25px 0 0;
float: right;
}
.sidebar .widget {
padding: 5%;
}
nav.menu ul {
width: 100%;
}
nav.menu ul {
float: inherit;
}
nav.menu ul li {
float: inherit;
margin: 0;
}
nav.menu ul a {
padding: 15px;
font-size: 16px;
border-top: 1px solid #1abf9f;
border-bottom: 1px solid #16a085;
}
.blog {
width: 90%;
}
.conteudo {
float: inherit;
margin: 0 auto 25px;
width: 101%;
border: 1px solid #dedede;
padding: 5%;
background: #fff;
}
.conteudo img {
max-width: 110%;
margin: 0 0 25px -5%;
min-width: 110%;
}
.conteudo .continue-lendo:hover {
margin-left: 0;
}
.footer {
position: inherit;
}


}